{"http_interactions":[{"request":{"method":"get","uri":"https://neocities.org/api/info?sitename=superteamawesome","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic <NEOCITIZEN_BASIC_AUTH>"]}},"response":{"status":{"code":200,"message":""},"headers":{"Content-Type":["application/json;charset=utf-8"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\n  \"result\": \"success\",\n  \"info\": {\n    \"sitename\": \"superteamawesome\",\n    \"hits\": 147,\n    \"created_at\": \"Thu, 15 May 2014 21:48:05 +0000\",\n    \"last_updated\": \"Sun, 18 May 2014 04:09:19 +0000\",\n    \"domain\": null,\n    \"tags\": [\n\n    ]\n  }\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Jun 2014 07:23:11 GMT"}],"recorded_with":"VCR 2.8.0"}