{"http_interactions":[{"request":{"method":"post","uri":"https://neocities.org/api/upload","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"index.html\"; filename=\"index.html\"\r\nContent-Length: 115\r\nContent-Type: text/html\r\nContent-Transfer-Encoding: binary\r\n\r\n<!doctype html>\n<html>\n<head>\n  <title>Hello world!</title>\n</head>\n<body>\n  <h1>Hello world!</h1>\n</body>\n</html>\n\r\n-------------RubyMultipartPost--\r\n\r\n"},"headers":{"Authorization":["Basic <NEOCITIZEN_BASIC_AUTH>"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost"]}},"response":{"status":{"code":200,"message":""},"headers":{"Content-Type":["application/json;charset=utf-8"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\n  \"result\": \"success\",\n  \"message\": \"your file(s) have been successfully uploaded\"\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Jun 2014 07:34:46 GMT"}],"recorded_with":"VCR 2.8.0"}